# 13.2

In [1]:
from pykrx import stock
import FinanceDataReader as fdr

In [2]:
df = fdr.DataReader(symbol='KS11', start="2019-11")
start = df.loc["2019-11"]
end = df.loc["2020-09"]

In [3]:
df.loc["2020-11"].head()

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2020-11-02,2276.61,2302.64,2267.95,2300.16,678501162,0.0146,1,33.01,8514452400699,1575793149855746
2020-11-03,2315.81,2344.77,2315.30,2343.31,887445456,0.0188,1,43.15,10874229018838,1605475497111717
2020-11-04,2361.32,2371.14,2339.95,2357.32,986786300,0.0060,1,14.01,14835038714079,1614836760091792
2020-11-05,2373.41,2413.79,2370.85,2413.79,702037484,0.0240,1,56.47,12578752394172,1653392888446002
2020-11-06,2421.79,2431.11,2404.97,2416.50,825568502,0.0011,1,2.71,12579332613740,1655495906955745

In [ ]:
start

In [5]:
start_date = start.index[0]
end_date = end.index[-1]
print(start_date, end_date)

2019-11-01 00:00:00 2020-09-29 00:00:00

In [7]:
df1 = stock.get_market_ohlcv_by_ticker("20191101")
df2 = stock.get_market_ohlcv_by_ticker("20200929")
kospi = df1.join(df2, lsuffix="_l", rsuffix="_r")
kospi

,시가_l,고가_l,저가_l,종가_l,거래량_l,거래대금_l,등락률_l,시가총액_l,시가_r,고가_r,저가_r,종가_r,거래량_r,거래대금_r,등락률_r,시가총액_r
티커,,,,,,,,,,,,,,,,
095570,4155,4195,4120,4195,39289,162442315,1.08,196419527525,3225.0,3290.0,3195.0,3245.0,49795.0,1.619040e+08,0.46,1.519383e+11
068400,11000,11100,10900,11100,88789,973911500,0.45,245823930000,8430.0,8600.0,8380.0,8550.0,98470.0,8.366572e+08,1.79,3.057919e+11
006840,31100,31600,31050,31350,8776,274589000,0.16,415311037350,17400.0,18000.0,17250.0,17550.0,20114.0,3.534758e+08,2.63,2.324947e+11
027410,5750,5750,5590,5600,331127,1866807440,-2.61,536014029600,4095.0,4100.0,4030.0,4080.0,72477.0,2.950372e+08,0.49,3.905245e+11
282330,178500,180000,177500,179500,26325,4710883000,0.84,3102461127000,121500.0,124000.0,120000.0,123500.0,71328.0,8.729179e+09,2.49,2.134562e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
069260,22000,22200,21750,21950,69145,1516793750,-0.68,897285006600,21500.0,21500.0,20400.0,20600.0,2564725.0,5.286840e+10,-2.14,8.420989e+11
000540,3140,3140,3085,3110,7159,22262505,-0.48,199794625950,2670.0,2840.0,2645.0,2715.0,274386.0,7.525160e+08,1.69,1.744188e+11
000547,19150,19150,18950,19050,20,380900,-0.52,2926080000,24500.0,25200.0,23750.0,23800.0,8843.0,2.139186e+08,-3.64,3.655680e+09
000545,4600,4695,4580,4695,669,3113045,1.08,3605760000,11150.0,12700.0,10100.0,10700.0,825125.0,9.490463e+09,-1.38,8.217600e+09
003280,361,361,352,355,271838,96725636,-1.66,34582585215,0.0,0.0,0.0,258.0,0.0,0.000000e+00,0.00,3.011700e+10

In [8]:
kospi['모멘텀'] = 100 * (kospi['종가_r'] - kospi['종가_l']) / kospi['종가_l']
kospi = kospi[['종가_l', '종가_r', '모멘텀']]
kospi.sort_values(by='모멘텀', ascending=False)[:20]

         종가_l      종가_r          모멘텀
티커
019175   6050  166500.0  2652.066116
025560    174    3300.0  1796.551724
019170   6760  126500.0  1771.301775
28513K  20800  166500.0   700.480769
005257  18250  138000.0   656.164384
011000   4130   29650.0   617.917676
037270   1300    8370.0   543.846154
007575  16750  106500.0   535.820896
010145  56900  356000.0   525.659051
285130  47600  296500.0   522.899160
030790    850    5180.0   509.411765
009835  11550   68200.0   490.476190
336260   7860   43100.0   448.346056
012170    150     600.0   300.000000
000995  36950  142000.0   284.303112
002410   1570    6000.0   282.165605
033270  19050   72500.0   280.577428
002630    432    1625.0   276.157407
007570  21750   79200.0   264.137931
006125  14650   53000.0   261.774744

In [9]:
kospi_momentum20 = kospi.sort_values(by='모멘텀', ascending=False)[:20]
kospi_momentum20.rename(columns={"종가_l": "매수가", "종가_r": "매도가"}, inplace=True)
kospi_momentum20

          매수가       매도가          모멘텀
티커
019175   6050  166500.0  2652.066116
025560    174    3300.0  1796.551724
019170   6760  126500.0  1771.301775
28513K  20800  166500.0   700.480769
005257  18250  138000.0   656.164384
011000   4130   29650.0   617.917676
037270   1300    8370.0   543.846154
007575  16750  106500.0   535.820896
010145  56900  356000.0   525.659051
285130  47600  296500.0   522.899160
030790    850    5180.0   509.411765
009835  11550   68200.0   490.476190
336260   7860   43100.0   448.346056
012170    150     600.0   300.000000
000995  36950  142000.0   284.303112
002410   1570    6000.0   282.165605
033270  19050   72500.0   280.577428
002630    432    1625.0   276.157407
007570  21750   79200.0   264.137931
006125  14650   53000.0   261.774744

In [10]:
df3 = stock.get_market_ohlcv_by_ticker("20201102")
df4 = stock.get_market_ohlcv_by_ticker("20210430")
pct_df = df3.join(df4, lsuffix="_l", rsuffix="_r")
pct_df

,시가_l,고가_l,저가_l,종가_l,거래량_l,거래대금_l,등락률_l,시가총액_l,시가_r,고가_r,저가_r,종가_r,거래량_r,거래대금_r,등락률_r,시가총액_r
티커,,,,,,,,,,,,,,,,
095570,3915,3920,3585,3615,1012135,3809998960,1.26,169262596425,5290.0,5560.0,5270.0,5560.0,354540.0,1.944681e+09,4.12,2.603320e+11
006840,17100,17600,17100,17400,13765,238146450,1.75,230507561400,30250.0,31500.0,29900.0,31100.0,185154.0,5.755820e+09,2.81,4.119991e+11
027410,4015,4080,4015,4050,85711,346880195,0.87,387653003550,6940.0,6990.0,6800.0,6910.0,326363.0,2.251853e+09,-0.43,6.614030e+11
282330,119000,121000,117500,120000,13771,1642866500,1.69,2074068720000,149500.0,154000.0,147500.0,153000.0,63877.0,9.721709e+09,2.34,2.644438e+12
138930,5490,5710,5490,5700,1060558,5980071160,3.45,1857830902200,7330.0,7790.0,7290.0,7670.0,5125163.0,3.907946e+10,4.78,2.499923e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
069260,22950,23450,22900,23250,109754,2542347150,1.53,950427171000,21800.0,21900.0,21550.0,21750.0,196963.0,4.269144e+09,-0.46,8.891093e+11
000540,2675,2725,2640,2700,41112,110686885,0.93,173455141500,4645.0,4720.0,4440.0,4470.0,435074.0,1.974625e+09,-3.66,2.871646e+11
000547,23000,23000,22400,22450,4496,101043200,-2.39,3448320000,34150.0,37500.0,30250.0,32750.0,83155.0,2.820481e+09,13.52,5.030400e+09
000545,17100,17550,16200,16800,144608,2439381250,0.00,12902400000,11350.0,12350.0,10600.0,11200.0,105566.0,1.203470e+09,2.75,8.601600e+09
003280,0,0,0,258,0,0,0.00,30117000222,0.0,0.0,0.0,258.0,0.0,0.000000e+00,0.00,3.011700e+10

In [11]:
pct_df = pct_df[['종가_l', '종가_r']]
kospi_momentum20_result = kospi_momentum20.join(pct_df)
kospi_momentum20_result

          매수가       매도가          모멘텀    종가_l      종가_r
티커
019175   6050  166500.0  2652.066116  139000   72900.0
025560    174    3300.0  1796.551724    3010   15450.0
019170   6760  126500.0  1771.301775  126000   69800.0
28513K  20800  166500.0   700.480769  174500  123000.0
005257  18250  138000.0   656.164384  159500   89400.0
011000   4130   29650.0   617.917676   28650   17400.0
037270   1300    8370.0   543.846154    4640    5870.0
007575  16750  106500.0   535.820896   82500   37850.0
010145  56900  356000.0   525.659051  310000  335000.0
285130  47600  296500.0   522.899160  347500  266500.0
030790    850    5180.0   509.411765    5770    9100.0
009835  11550   68200.0   490.476190   74500   55600.0
336260   7860   43100.0   448.346056   41650   45100.0
012170    150     600.0   300.000000     600    1105.0
000995  36950  142000.0   284.303112  119000  118500.0
002410   1570    6000.0   282.165605    4945    4000.0
033270  19050   72500.0   280.577428   47750   52400.0
002630    432    1625.0   276.157407    1565    1510.0
007570  21750   79200.0   264.137931   70200   38250.0
006125  14650   53000.0   261.774744   51400   41900.0

In [12]:
kospi_momentum20_result['수익률'] = (kospi_momentum20_result['종가_r'] / 
                                  kospi_momentum20_result['종가_l'])
kospi_momentum20_result

          매수가       매도가          모멘텀    종가_l      종가_r       수익률
티커
019175   6050  166500.0  2652.066116  139000   72900.0  0.524460
025560    174    3300.0  1796.551724    3010   15450.0  5.132890
019170   6760  126500.0  1771.301775  126000   69800.0  0.553968
28513K  20800  166500.0   700.480769  174500  123000.0  0.704871
005257  18250  138000.0   656.164384  159500   89400.0  0.560502
011000   4130   29650.0   617.917676   28650   17400.0  0.607330
037270   1300    8370.0   543.846154    4640    5870.0  1.265086
007575  16750  106500.0   535.820896   82500   37850.0  0.458788
010145  56900  356000.0   525.659051  310000  335000.0  1.080645
285130  47600  296500.0   522.899160  347500  266500.0  0.766906
030790    850    5180.0   509.411765    5770    9100.0  1.577123
009835  11550   68200.0   490.476190   74500   55600.0  0.746309
336260   7860   43100.0   448.346056   41650   45100.0  1.082833
012170    150     600.0   300.000000     600    1105.0  1.841667
000995  36950  142000.0   284.303112  119000  118500.0  0.995798
002410   1570    6000.0   282.165605    4945    4000.0  0.808898
033270  19050   72500.0   280.577428   47750   52400.0  1.097382
002630    432    1625.0   276.157407    1565    1510.0  0.964856
007570  21750   79200.0   264.137931   70200   38250.0  0.544872
006125  14650   53000.0   261.774744   51400   41900.0  0.815175

In [13]:
수익률평균 = kospi_momentum20_result['수익률'].fillna(0).mean()
수익률평균

np.float64(1.1065180167742072)

In [14]:
mom20_cagr = 수익률평균 ** (1/0.5) - 1    # 6개월
mom20_cagr * 100

np.float64(22.438212144592473)

In [15]:
df_ref = fdr.DataReader(
    symbol='KS11', 
    start="2020-11-02",   # 첫번째 거래일
    end="2021-04-30"
)
df_ref

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2020-11-02,2276.61,2302.64,2267.95,2300.16,678501162,0.0146,1,33.01,8514452400699,1575793149855746
2020-11-03,2315.81,2344.77,2315.30,2343.31,887445456,0.0188,1,43.15,10874229018838,1605475497111717
2020-11-04,2361.32,2371.14,2339.95,2357.32,986786300,0.0060,1,14.01,14835038714079,1614836760091792
2020-11-05,2373.41,2413.79,2370.85,2413.79,702037484,0.0240,1,56.47,12578752394172,1653392888446002
2020-11-06,2421.79,2431.11,2404.97,2416.50,825568502,0.0011,1,2.71,12579332613740,1655495906955745
...,...,...,...,...,...,...,...,...,...,...
2021-04-26,3191.34,3217.53,3191.34,3217.53,1298330413,0.0099,1,31.43,15753767940288,2244296747569999
2021-04-27,3218.30,3223.05,3203.25,3215.42,1534230437,-0.0007,2,-2.11,17177221132485,2242791905590759
2021-04-28,3217.21,3219.69,3176.55,3181.47,1412620981,-0.0106,2,-33.95,18379828680878,2219525997361583
2021-04-29,3184.75,3200.41,3161.06,3174.07,1222430217,-0.0023,2,-7.40,19126666675110,2214470771412017
2021-04-30,3176.43,3179.43,3143.38,3147.86,1359455178,-0.0083,2,-26.21,19207526228810,2196644814285860

In [16]:
CAGR = ((df_ref['Close'].iloc[-1] / df_ref['Close'].iloc[0]) ** (1/0.5)) -1
CAGR * 100

np.float64(87.2900581630561)

# 13.3 대형주 12개월 모멘텀

In [17]:
df1 = stock.get_market_ohlcv_by_ticker("20191101", market="ALL")
df2 = stock.get_market_ohlcv_by_ticker("20200929", market="ALL")
all = df1.join(df2, lsuffix="_l", rsuffix="_r")
all

,시가_l,고가_l,저가_l,종가_l,거래량_l,거래대금_l,등락률_l,시가총액_l,시가_r,고가_r,저가_r,종가_r,거래량_r,거래대금_r,등락률_r,시가총액_r
티커,,,,,,,,,,,,,,,,
060310,3335,3390,3290,3390,178869,600797865,2.42,151777564770,2145.0,2145.0,2085.0,2120.0,116524.0,2.461800e+08,0.95,9.498132e+10
095570,4155,4195,4120,4195,39289,162442315,1.08,196419527525,3225.0,3290.0,3195.0,3245.0,49795.0,1.619040e+08,0.46,1.519383e+11
068400,11000,11100,10900,11100,88789,973911500,0.45,245823930000,8430.0,8600.0,8380.0,8550.0,98470.0,8.366572e+08,1.79,3.057919e+11
006840,31100,31600,31050,31350,8776,274589000,0.16,415311037350,17400.0,18000.0,17250.0,17550.0,20114.0,3.534758e+08,2.63,2.324947e+11
054620,9190,9820,9190,9600,438694,4201716830,4.58,195784521600,8550.0,8730.0,8470.0,8590.0,151231.0,1.300975e+09,0.94,1.751864e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
000547,19150,19150,18950,19050,20,380900,-0.52,2926080000,24500.0,25200.0,23750.0,23800.0,8843.0,2.139186e+08,-3.64,3.655680e+09
000545,4600,4695,4580,4695,669,3113045,1.08,3605760000,11150.0,12700.0,10100.0,10700.0,825125.0,9.490463e+09,-1.38,8.217600e+09
003280,361,361,352,355,271838,96725636,-1.66,34582585215,0.0,0.0,0.0,258.0,0.0,0.000000e+00,0.00,3.011700e+10
037440,4395,4395,4300,4365,8728,37867950,0.34,60771603375,3665.0,3710.0,3630.0,3690.0,7032.0,2.578092e+07,0.68,5.137393e+10
238490,23850,24100,22950,23500,63232,1477632650,-1.26,132918773000,12650.0,12900.0,12600.0,12850.0,147805.0,1.886456e+09,2.39,1.453622e+11

In [18]:
# 기본 필터링
# 우선주 제외 
all2 = all.filter(regex="0$", axis=0).copy()
all2

,시가_l,고가_l,저가_l,종가_l,거래량_l,거래대금_l,등락률_l,시가총액_l,시가_r,고가_r,저가_r,종가_r,거래량_r,거래대금_r,등락률_r,시가총액_r
티커,,,,,,,,,,,,,,,,
060310,3335,3390,3290,3390,178869,600797865,2.42,151777564770,2145.0,2145.0,2085.0,2120.0,116524.0,2.461800e+08,0.95,9.498132e+10
095570,4155,4195,4120,4195,39289,162442315,1.08,196419527525,3225.0,3290.0,3195.0,3245.0,49795.0,1.619040e+08,0.46,1.519383e+11
068400,11000,11100,10900,11100,88789,973911500,0.45,245823930000,8430.0,8600.0,8380.0,8550.0,98470.0,8.366572e+08,1.79,3.057919e+11
006840,31100,31600,31050,31350,8776,274589000,0.16,415311037350,17400.0,18000.0,17250.0,17550.0,20114.0,3.534758e+08,2.63,2.324947e+11
054620,9190,9820,9190,9600,438694,4201716830,4.58,195784521600,8550.0,8730.0,8470.0,8590.0,151231.0,1.300975e+09,0.94,1.751864e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189980,1805,1925,1805,1910,861762,1624718155,5.52,70109329050,1535.0,1560.0,1525.0,1540.0,159233.0,2.442040e+08,0.33,5.685147e+10
000540,3140,3140,3085,3110,7159,22262505,-0.48,199794625950,2670.0,2840.0,2645.0,2715.0,274386.0,7.525160e+08,1.69,1.744188e+11
003280,361,361,352,355,271838,96725636,-1.66,34582585215,0.0,0.0,0.0,258.0,0.0,0.000000e+00,0.00,3.011700e+10
037440,4395,4395,4300,4365,8728,37867950,0.34,60771603375,3665.0,3710.0,3630.0,3690.0,7032.0,2.578092e+07,0.68,5.137393e+10
238490,23850,24100,22950,23500,63232,1477632650,-1.26,132918773000,12650.0,12900.0,12600.0,12850.0,147805.0,1.886456e+09,2.39,1.453622e+11

In [19]:
all2['모멘텀'] = 100 * (all2['종가_r'] - all2['종가_l']) / all2['종가_l']
all2 = all2[['모멘텀']]
all2

              모멘텀
티커
060310 -37.463127
095570 -22.646007
068400 -22.972973
006840 -44.019139
054620 -10.520833
...           ...
189980 -19.371728
000540 -12.700965
003280 -27.323944
037440 -15.463918
238490 -45.319149

[2323 rows x 1 columns]

In [20]:
cap = stock.get_market_cap_by_ticker(date="20200929", market="ALL") 
cap = cap[['시가총액']]
cap

                   시가총액
티커
005930  347441344410000
000660   61152198660000
035420   48704096617500
051910   46167392322000
207940   45653850000000
...                 ...
224020       2565000000
267810       2219945000
344860       2046000000
225860       2033098468
238500       1938416724

[2500 rows x 1 columns]

In [21]:
all3 = all2.join(other=cap)
all3

              모멘텀          시가총액
티커
060310 -37.463127  9.498132e+10
095570 -22.646007  1.519383e+11
068400 -22.972973  3.057919e+11
006840 -44.019139  2.324947e+11
054620 -10.520833  1.751864e+11
...           ...           ...
189980 -19.371728  5.685147e+10
000540 -12.700965  1.744188e+11
003280 -27.323944  3.011700e+10
037440 -15.463918  5.137393e+10
238490 -45.319149  1.453622e+11

[2323 rows x 2 columns]